<section class="wrapper-video">
 <div class="gradient"></div>
  <div class="header-question">
    What is Gooee?
  </div>
  <div class="video">
    <video src=""></video>
  </div>
  <div class="subtext-video">
    <div class="column-one">
      Facing downwards – the sensors detect motion, direction, footfall and ambient light levels and temperature. Upwards – the sensors monitor light output, colour temperature, quality and operating temperatures
    </div>
    <div class="column-two">
      <p class="first-text">Furthermore, they calculate the luminaire’s life period since its beginning, facilitating extended warranty opportunities.</p>
      <p class="second-text">Gooee has an ability to integrate its own external sensors or those of a 3rd party, enhancing sensing capabilities for multiple applications.</p>
    </div>
  </div>
</section>
