@import '../../../assets/styles/_variables';


.wrapper-video{
  height: 4500px;
  background-color:#004680;
  overflow: hidden;
  position: relative;
  .gradient{
    margin: 0 auto;
    width: 2200px;
    height: 2400px;
    background: radial-gradient(at top,  #00a0dc, #004680);
    filter: blur(200px);
  }
  .header-question{
    position: absolute;
    top: 0;
    left: 35%;
    right: 35%;
    text-align: center;
    font-size: 80px;
    font-family: $LatoBold;
    color: #ffffff;
    margin: 370px 0 315px 0;
  }
  .video{
    margin-top: 280px;
  }
  .subtext-video{
    font-family: $RobotoThin;
    font-size: 58px;
    font-weight: 100;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2em;
    margin: 0 160px 0 160px;
    .column-one{
      width: 3250px;
      margin-right: 100px;
      text-align: right;
    }
    .column-two{
      .first-text{
        margin-bottom: 130px;
      }
    }
  }
}
