<header>
  <div class="wrapper">
    <div class="main-menu">
      <div class="logo">
        <a href="#" class="logo-gooee">
        <img src="assets/images/logo.png" class="default" alt="logo"/>
        <img src="assets/images/logo-hover.png" class="hover" alt="logo-hover"/>
        </a>
      </div>
      <div class="menu">
          <a id="hamburger-icon" title="Menu" (click)="show = !show" [ngClass]="{active: show}">
              <span class="line"></span>
            </a>
            <div class="navigation-wrapper" [ngClass]="{open: show}">
              <ul class="main-nav">
                <li><a class="scroll" href="#">Home</a></li>
                <li><a class="scroll" href="#">Ecosystem</a></li>
                <li><a class="scroll" href="#">Applications</a></li>
                <li><a class="scroll" href="#">Partners</a></li>
                <li><a class="scroll" href="#">Media</a></li>
                <li><a class="scroll" href="#">Developers</a></li>
                <li><a class="scroll" href="#">About</a></li>
                <li><a class="scroll" href="#">Contact</a></li>
              </ul>
             </div>
    </div>
    <div class="login">
        <button class="login-btn" ><a target="_blank">login</a></button>
    </div>
  </div>
  <div class="header-text">
    <p>Enterprise <span class="bold-header">Internet of Things meets</span> LED Lighting</p>
  </div>
  <div class="header-text-hosting wow slideInRight" data-wow-duration="2s" data-wow-delay="1s">
      We’ve built the cloud for Lighting & Sensing, so you don’t have to
    </div>
  <div class="header-image wow bounceInUp" data-wow-duration="2s" data-wow-delay="3s">
      <img src="assets/images/cloud-ecosystem.png"  alt="cloud-ecosystem"/>
    </div>
  </div>
</header>
