$fonts-path: '/assets/fonts/';

$LatoBold: 'Lato-Bold', sans-serif;
$LatoLight: 'Lato-Light', sans-serif;
$LatoRegular: 'Lato-Regular', sans-serif;

$RobotoBold: 'Roboto-Bold', sans-serif;
$RobotoItalic: 'Roboto-Italic', sans-serif;
$RobotoRegular: 'Roboto-Regular', sans-serif;
$RobotoThin: 'Roboto-Thin', sans-serif;
